body {
    background-color: #313147; 
    color: #fff; 
}

.scheduler-table {
    padding-top: 100px; 
}

.scheduler-table tbody th, .scheduler-table tbody td {
    color: #fff; /* Белый текст в ячейках таблицы */
    width: 60px;
    height: 60px;
}